.feed-detail {
	&__main-content {
		display: inline-block;
		vertical-align: top;
		width: 560px;
		padding: 20px;
	}

	&__right-sidebar {
		display: inline-block;
		padding: 20px;
	}

	&__left-sidebar {
		float: left;
		display: inline-block;
		padding: 20px;

		& img {
			position: relative;
			bottom: 1px;
			height: 12px;
			margin-right: 12px;
		}
	}
}