.feed-detail__main-content {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  padding: 20px; }

.feed-detail__right-sidebar {
  display: inline-block;
  padding: 20px; }

.feed-detail__left-sidebar {
  float: left;
  display: inline-block;
  padding: 20px; }
  .feed-detail__left-sidebar img {
    position: relative;
    bottom: 1px;
    height: 12px;
    margin-right: 12px; }
