.feed-detail {
	&__main-content {
		display: inline-block;
		vertical-align: top;
		width: 560px;
		padding: 20px;
	}

	&__right-sidebar {
		display: inline-block;
		padding: 20px;
	}

	&__left-sidebar {
		float: left;
		display: inline-block;
		padding: 20px;
		& img {
			width: 7px;
			margin-right: 5px;
		}
	}
}