$color-border-grey: #E0E0E0;

.feed-hot-list {
}

.feed-hot-lists {
	&-showcases {
		border-bottom: 1px solid $color-border-grey;

		&:last-child {
			border-bottom: none;
		}
	}
	&__top-banner {
		max-width: 317px;
	}

	&-full {
		border: 1px solid $color-border-grey;
	}

	&__items {
		width: 50%;
		max-width: 158.5px;
	}
}

.feed-hot-lists-showcases {
	.feed-hot-lists__items {
		width: 50%;
		border-right: 1px solid $color-border-grey;
		&:last-child {
			border-right: none;
		}
	}	
}
