

/* ===== Tab ===== */
.horizontal-tab {
   *zoom: 1;
   padding: 0 0 0;
   border-bottom: 1px solid #ddd;
   margin-bottom: 20px;
}
.horizontal-tab:before,
.horizontal-tab:after {
   display: table;
   line-height: 0;
   content: "";
}
.horizontal-tab:after {
   clear: both;
}
.horizontal-tab > li {
   display: inline-block;
   font-size: 12px;
}
.horizontal-tab > .tab-right {
   float: right;
}
.horizontal-tab > .tab-right > a {
   margin-right: 0;
}
.horizontal-tab > li > a {
   background: #f7f7f7;
   padding: 4px 16px;
   margin-right: 10px;
   border-top: 1px solid #eaeaea;
   border-left: 1px solid #eaeaea;
   border-right: 1px solid #eaeaea;
   color: #606060;
   display: block;
   height: 20px;
   line-height: 20px;
   -webkit-border-radius: 2px 2px 0 0;
   -moz-border-radius: 2px 2px 0 0;
   border-radius: 2px 2px 0 0;
}

.horizontal-tab > li > a:hover,
.horizontal-tab > li > a:focus {
   border-color: #dddddd #dddddd #dddddd;
   background-color: #eee;
}

.horizontal-tab > .active > a,
.horizontal-tab > .active > a:hover,
.horizontal-tab > .active > a:focus{
   color: #e55b36;
   cursor: default;
   background-color: #ffffff;
   border-left: 1px solid #eaeaea;
   border-right: 1px solid #eaeaea;
   border-top: 2px solid #008000;
}
.catalog-tab > li > a {
   padding: 8px 12px;
}
.catalog-tab > .active > a,
.catalog-tab > .active > a:hover,
.catalog-tab > .active > a:focus {
   border: 1px solid #ddd;
   border-bottom-color: transparent;
}
/*======================from Bootstrap=======================================*/
.nav-tabs {
   *zoom: 1;
}
.nav-tabs:before,
.nav-tabs:after {
   display: table;
   line-height: 0;
   content: "";
}
.nav-tabs:after {
   clear: both;
}
.nav-tabs > li{
   float: left;
}
.nav-tabs > li > a{
   padding-right: 12px;
   padding-left: 12px;
   margin-right: 2px;
   line-height: 14px;
}
.nav-tabs {
   border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
   margin-bottom: -1px;
}
.nav-tabs > li > a {
   padding-top: 8px;
   padding-bottom: 8px;
   line-height: 20px;
   border: 1px solid transparent;
   -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
                   border-radius: 2px 2px 0 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
   border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
   color: #555555;
   cursor: default;
   background-color: #ffffff;
   border: 1px solid #ddd;
   border-bottom-color: transparent;
}
.nav-stacked > li {
   float: none;
}
.nav-stacked > li > a {
   margin-right: 0;
}
.nav-tabs.nav-stacked {
   border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
   border: 1px solid #ddd;
   -webkit-border-radius: 0;
        -moz-border-radius: 0;
                   border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
   -webkit-border-top-right-radius: 2px;
                   border-top-right-radius: 2px;
   -webkit-border-top-left-radius: 2px;
                   border-top-left-radius: 2px;
   -moz-border-radius-topright: 4px;
   -moz-border-radius-topleft: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
   -webkit-border-bottom-right-radius: 2px;
                   border-bottom-right-radius: 2px;
   -webkit-border-bottom-left-radius: 2px;
                   border-bottom-left-radius: 2px;
   -moz-border-radius-bottomright: 4px;
   -moz-border-radius-bottomleft: 4px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
   z-index: 2;
   border-color: #ddd;
}
.nav-tabs .dropdown-menu {
   -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
                   border-radius: 0 0 2px 2px;
}
.nav .dropdown-toggle .caret {
   margin-top: 6px;
   border-top-color: #0088cc;
   border-bottom-color: #0088cc;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
   border-top-color: #005580;
   border-bottom-color: #005580;
}
/* move down carets for tabs */
.nav-tabs .dropdown-toggle .caret {
   margin-top: 8px;
}
.nav .active .dropdown-toggle .caret {
   border-top-color: #fff;
   border-bottom-color: #fff;
}
.nav-tabs .active .dropdown-toggle .caret {
   border-top-color: #555555;
   border-bottom-color: #555555;
}
.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
   cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
   color: #ffffff;
   background-color: #999999;
   border-color: #999999;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
   border-top-color: #ffffff;
   border-bottom-color: #ffffff;
   opacity: 1;
   filter: alpha(opacity=100);
}
.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
   border-color: #999999;
}
.tabbable {
   *zoom: 1;
}
.tabbable:before,
.tabbable:after {
   display: table;
   line-height: 0;
   content: "";
}
.tabbable:after {
   clear: both;
}
.tab-content {
   overflow: auto;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
   border-bottom: 0;
}
.tab-content > .tab-pane {
   display: none;
}
.tab-content > .active {
   display: block;
}
.tabs-below > .nav-tabs {
   border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
   margin-top: -1px;
   margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
   -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
                   border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
   border-top-color: #ddd;
   border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
   border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
   float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
   min-width: 74px;
   margin-right: 0;
   margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
   float: left;
   margin-right: 19px;
   border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
   margin-right: -1px;
   -webkit-border-radius: 2px 0 0 2px;
        -moz-border-radius: 2px 0 0 2px;
                   border-radius: 2px 0 0 2px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
   border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
   border-color: #ddd transparent #ddd #ddd;
   *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
   float: right;
   margin-left: 19px;
   border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
   margin-left: -1px;
   -webkit-border-radius: 0 2px 2px 0;
        -moz-border-radius: 0 2px 2px 0;
                   border-radius: 0 2px 2px 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
   border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
   border-color: #ddd #ddd #ddd transparent;
   *border-left-color: #ffffff;
}
/* ===== Tab New Style ===== */

.horizontal-tab-nav {
    *zoom: 1;
    padding: 0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 3px 3px 0px 0px;
    background-color: #FFFFFF;
}
.horizontal-tab-nav:before,
.horizontal-tab-nav:after {
   display: table;
   line-height: 0;
   content: "";
}
.horizontal-tab-nav:after {
   clear: both;
}
.horizontal-tab-nav > li {
   display: inline-block;
   font-size: 14px;
}
.horizontal-tab-nav > .tab-right {
   float: right;
}
.horizontal-tab-nav > .tab-right > a {
   margin-right: 0;
}
.horizontal-tab-nav > li > a {
    background: #FFFFFF;
    font-weight: 600;
    padding: 4px 16px;
    color: rgba(0, 0, 0, 0.38);
    display: block;
    height: 20px;
    line-height: 21px;
}
.horizontal-tab-nav > li > a:hover,
.horizontal-tab-nav > li > a:focus {
   color: #42b549;
}
.horizontal-tab-nav > .active > a,
.horizontal-tab-nav > .active > a:hover,
.horizontal-tab-nav > .active > a:focus{
   color: #42b549;
   background-color: #FFFFFF;
   border-bottom: 5px solid #42b549;
}
.btn.reset {   
    border-radius: 3px!important;
    margin-left: 10px;
}
.new-label {
    text-transform: uppercase; 
    font-size: 8px;
    background: #d50000;
    border-radius: 2px;
    color: #ffffff;
    line-height: 6px;
    top: 5px;
    right: 23px;
    padding: 3px 3px;
}

@media (min-width: 1200px){
  .horizontal-tab-nav > li > a {
    margin-right: 10px;
  }
}
