.feed-search-shop {
  border: 1px solid #E0E0E0;
  padding: 35px;
  padding-right: 30px;
  margin-bottom: 20px; }
  .feed-search-shop__image {
    display: inline-block;
    vertical-align: middle;
    width: 165px; }
    .feed-search-shop__image img {
      width: 160px; }
  .feed-search-shop__text {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
    margin-left: 40px; }
    .feed-search-shop__text h5 {
      margin-bottom: 6px; }
    .feed-search-shop__text p {
      margin-bottom: 12px;
      color: rgba(0, 0, 0, 0.54); }
    .feed-search-shop__text button {
      width: 200px;
      padding: 9px; }