.feed-search-shop {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .feed-search-shop__image {
    display: inline-block;
    vertical-align: middle;
    width: 160px; }
    .feed-search-shop__image img {
      width: 165px; }
  .feed-search-shop__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px; }
    .feed-search-shop__text h5 {
      margin-bottom: 6px; }
    .feed-search-shop__text p {
      margin-bottom: 12px;
      color: rgba(0, 0, 0, 0.54); }
    .feed-search-shop__text button.btn {
      padding: 9px; }

@media only screen and (min-width: 1200px) {
  .feed-search-shop {
    width: 560px;
    padding: 35px;
    padding-right: 30px; }
    .feed-search-shop__text {
      width: 55%; }
      .feed-search-shop__text button.btn {
        width: 200px; } }

@media only screen and (max-width: 1199px) {
  .feed-search-shop {
    width: 441px;
    padding: 35px 20px; }
    .feed-search-shop__image {
      width: 120px;
      image-rendering: optimizeSpeed;
      /*                     */
      image-rendering: -moz-crisp-edges;
      /* Firefox             */
      image-rendering: -o-crisp-edges;
      /* Opera               */
      image-rendering: -webkit-optimize-contrast;
      /* Chrome (and Safari) */
      image-rendering: optimize-contrast;
      /* CSS3 Proposed       */
      -ms-interpolation-mode: nearest-neighbor;
      /* IE8+                */ }
    .feed-search-shop__text {
      width: 65%;
      margin-left: 10px; }
      .feed-search-shop__text button.btn {
        width: 120px; } }
