.feed-product{
	border: 1px solid #E0E0E0;
	margin-bottom: 20px;

	&__header {
		padding: 10px;
		border-bottom: 1px solid #E0E0E0;
	}

	&__seller-photo {
		display: inline-block;
		vertical-align: middle;

		& img {
			width: 52px;
			border: 1px solid #E0E0E0;
			border-radius: 3px;
			box-sizing: border-box;
		}
	}

	&__seller-activity {
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
		font-size: 14px;

		&--time {
			font-size: 11px;
			line-height: 1rem;
			color: rgba(0, 0, 0, 0.38);
		}
	}

	&__seller-share {
		display: inline-block;
		vertical-align: middle;
		float: right;
		margin-top: 6px;

		& img {
			width: 11px;
			position: relative;
			bottom: 2px;
			margin-right: 8px;
		}

		& button.btn {
			padding: 9px 0;
			font-size: 12px;
			color: rgba(0, 0, 0, 0.54);
			background-color: #FFF;
			border: 1px solid #E0E0E0;
			width: 100px;
			font-weight: 600;
			box-sizing: border-box;
		}
	}

	&__seller-buy {
		display: inline-block;
		vertical-align: middle;
		float: right;
		margin-top: 6px;

		& button.btn {
			padding: 9px 0;
			font-size: 12px;
			color: #FFF;
			background-color: #FF5722;
			border: 1px solid #FF5722;
			width: 100px;
			font-weight: 600;
			box-sizing: border-box;
		}
	}

	&__content {
		clear: both;

		& .row-fluid .span6 {
			box-sizing: border-box;
			margin: 0;
			width: 50%;
		}
		& .row-fluid .span4 {
			box-sizing: border-box;
			margin: 0;
			width: 33.3333333333%;
		}
	}

	&__items {
		position: relative;
		margin: auto 0;
		padding: 8px;
		border-right: 1px solid #E0E0E0;

		&:last-child {
			border-right: 1px solid #FFF;
		}

		&--border-top {
			border-top: 1px solid #E0E0E0;
		}

		&--border-bottom {
			border-bottom: 1px solid #E0E0E0;
		}

		&--overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			border-right: 1px solid transparent;
			text-align: center;

			& span {
				color: #FFF;
				font-size: 36px;
				margin-top: 102px;
				display: block
			}
		}
	}

	&__details {
		margin-top: 6px;
	}
}