.feed-product {
  border: 1px solid #E0E0E0;
  margin-bottom: 20px; }
  .feed-product__header {
    padding: 10px;
    border-bottom: 1px solid #E0E0E0; }
  .feed-product__seller-photo {
    display: inline-block;
    vertical-align: middle; }
    .feed-product__seller-photo img {
      width: 52px;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .feed-product__seller-activity {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 14px; }
    .feed-product__seller-activity--time {
      font-size: 11px;
      line-height: 1rem;
      color: rgba(0, 0, 0, 0.38); }
  .feed-product__content .row-fluid .span6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    width: 50%; }
  .feed-product__items {
    margin: auto 0;
    padding: 8px;
    border-right: 1px solid #E0E0E0; }
    .feed-product__items:last-child {
      border-right: 1px solid #FFF; }
  .feed-product__details {
    margin-top: 6px; }
