.feed-product {
  border: 1px solid #E0E0E0;
  margin-bottom: 20px; }
  .feed-product__header {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0; }
  .feed-product__seller-photo {
    display: inline-block;
    vertical-align: middle; }
    .feed-product__seller-photo img {
      width: 52px;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .feed-product__seller-activity {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 14px; }
    .feed-product__seller-activity--time {
      font-size: 11px;
      line-height: 1rem;
      color: rgba(0, 0, 0, 0.38); }
  .feed-product__seller-share {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 6px; }
  .feed-product__seller-buy {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 6px; }
    .feed-product__seller-buy button.btn {
      padding: 9px 0;
      font-size: 12px;
      color: #FFF;
      background-color: #FF5722;
      border: 1px solid #FF5722;
      width: 100px;
      font-weight: 600;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .feed-product__content {
    clear: both; }
    .feed-product__content .row-fluid .span6 {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      width: 50%; }
    .feed-product__content .row-fluid .span4 {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      width: 33.3333333333%; }
  .feed-product__items {
    position: relative;
    margin: auto 0;
    padding: 8px;
    border-right: 1px solid #E0E0E0; }
    .feed-product__items:last-child {
      border-right: 1px solid #FFF; }
    .feed-product__items--border-top {
      border-top: 1px solid #E0E0E0; }
    .feed-product__items--border-bottom {
      border-bottom: 1px solid #E0E0E0; }
      .feed-product__items--border-bottom img.feed-product__image {
        width: 300px; }
    .feed-product__items--overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-right: 1px solid transparent;
      text-align: center; }
      .feed-product__items--overlay span {
        color: #FFF;
        font-size: 36px;
        margin-top: 102px;
        display: block; }
  .feed-product__details {
    margin-top: 6px; }
