button.button-share,
.btn.button-share,
.button-share {
    padding: 9px 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    width: 100px;
    font-weight: 600;
    box-sizing: border-box;
    margin-bottom: 12px;
    outline: none;
}

.button-share {
	&__toast-container {
		z-index: 99999;
		position: fixed;
		width: 234px;
    	padding: 16px;
		background-color: #333333;
		color: #FFF;
		opacity: 0;
		top: 12%;
    	left: 36.5%;
		transition: all 0.5s ease;
		border-radius: 3px;

		&.show {
			opacity: 1;
			transition: all 0.5s ease;
		}

	}

	&__toast-close{
		width: 9px;
		margin-top: 7px;
		margin-left: 10px;
	}

    &__icon-container {
        width: 245px;
        position: absolute;
        right: -80px;
        z-index: 10;
        padding: 10px 16px;
        background-color: #FFF;
        border: 1px solid #E0E0E0;
        border-radius: 3px;
	    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        
        & img.button-share--link {
            height: 34px;
            width: 34px;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                cursor: pointer;
            }
        }
        
        & img.button-share--arrow {
            width: 20px;
            height: 13px;
            position: absolute;
            top: -11px;
            left: 47%;
        }
    }

    &--icon {
        width: 11px;
        position: relative;
        bottom: 2px;
        margin-right: 8px;
    }
}