.feed__main-content {
  display: inline-block;
  vertical-align: top;
  padding: 20px; }

.feed__right-sidebar {
  display: inline-block;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media only screen and (min-width: 1200px) {
  .feed__main-content {
    width: 560px; } }

@media only screen and (max-width: 1199px) {
  .feed__main-content {
    width: 441px; }
  .feed__right-sidebar {
    width: 255px; } }
