.pt-15 {
  padding-top: 15px; }

.lh-17 {
  line-height: 17px; }

.text-black07 {
  color: rgba(0, 0, 0, 0.7); }

.feed-official-store-product {
  background-color: #f0f8ff;
  padding: 8px; }
  .feed-official-store-product__frame {
    background-color: #FFFFFF; }
  .feed-official-store-product__row {
    border-bottom: 1px solid #E0E0E0; }
  .feed-official-store-product .feed-official-store-product__title {
    background-color: #5A7CC2;
    border-radius: 3px 3px 0 0; }
    .feed-official-store-product .feed-official-store-product__title--text {
      padding: 8px; }
  .feed-official-store-product .feed-official-store-product__items {
    width: 33.33%;
    margin: 0;
    border-right: 1px solid #E0E0E0; }
    .feed-official-store-product .feed-official-store-product__items:last-child {
      border-right: none; }
    .feed-official-store-product .feed-official-store-product__items--name {
      color: rgba(0, 0, 0, 0.7); }
    .feed-official-store-product .feed-official-store-product__items-details {
      padding: 8px 8px 0 8px; }
    .feed-official-store-product .feed-official-store-product__items--store {
      border-top: 1.3px dashed #E0E0E0; }
  .feed-official-store-product .feed-official-store-product__image {
    max-width: 164px;
    padding-bottom: 6px; }
    .feed-official-store-product .feed-official-store-product__image-container-store {
      padding: 9px; }
    .feed-official-store-product .feed-official-store-product__image-store {
      max-width: 30px;
      border-radius: 2px;
      border: 1px solid #E0E0E0; }
  .feed-official-store-product .feed-official-store-product__link-more {
    height: 45px;
    line-height: 45px;
    text-align: center; }
