$color-border-grey: #E0E0E0;
$color-orange: #FF5722;

$color-black-primary: rgba(0, 0, 0, 0.7);

.pt-15 {
	padding-top: 15px;
}

.lh-17 {
	line-height: 17px;
}

.text-black07 {
	color: $color-black-primary;
}

.feed-official-store-product {
	// border: 1px solid $color-border-grey;
	// border: 1px solid black;
	background-color: #f0f8ff;
	padding: 8px;

	&__frame {
		background-color: #FFFFFF;
		// border: 1px solid $color-border-grey;
	}

	&__row {
		border-bottom: 1px solid $color-border-grey;
	}
	.feed-official-store-product {

		&__title {
			background-color: #5A7CC2;
			border-radius: 3px 3px 0 0;

			&--text {
				padding: 8px;
			}
		}

		&__items {
			width: 33.33%;
			margin: 0;
			border-right: 1px solid $color-border-grey;
			&:last-child {
				border-right: none;
			}

			&--name {
				color: $color-black-primary; 
			}

			&-details {
				padding: 8px 8px 0 8px;
			}

			&--store {
				border-top: 1.3px dashed $color-border-grey;
			}
		}

		&__image {
			max-width: 164px;
			padding-bottom: 6px;

			&-container-store {
				padding: 9px;
			}

			&-store {
				max-width: 30px;
				border-radius: 2px;
				border: 1px solid $color-border-grey;
			}
		}

		&__link-more {
			height: 45px;
			line-height: 45px;
			text-align: center;
		}
	}
}