$color-border-grey: #E0E0E0;
$color-orange: #FF5722;

$color-black-primary: rgba(0, 0, 0, 0.7);

.pt-15 {
	padding-top: 15px;
}

.lh-17 {
	line-height: 17px;
}

.text-black07 {
	color: $color-black-primary;
}

.feed-official-store-product {
	background-color: #E0E0E0;
	padding: 8px;
	border-radius: 0 0 3px 3px;

	&__frame {
		background-color: #FFFFFF;
		border-radius: 3px;
	}

	&__row {
		border-bottom: 1px solid $color-border-grey;
	}

	&__banner-image {
		border-radius: 3px 3px 0 0;
		width: 100%;
		height: auto;
		max-height: 148px;
		image-rendering: optimizeSpeed;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: optimize-contrast;
		-ms-interpolation-mode: nearest-neighbor;
	}

	.detail__name {
		overflow: hidden;
	}

	.feed-official-store-product {

		&__title {
			background-color: #5A7CC2;
			border-radius: 3px 3px 0 0;

			&--text {
				padding: 8px;
			}
		}

		&__items {
			width: 33.33%;
			margin: 0;
			border-right: 1px solid $color-border-grey;
			&:last-child {
				border-right: none;
			}

			img {
				border-radius: 2px;
			}

			&--name {
				height: 34px;
				overflow: hidden;
				color: $color-black-primary; 
			}

			&-details {
				padding: 8px 8px 0 8px;
			}

			&--store {
				border-top: 1.3px dashed $color-border-grey;
			}
		}

		&__image {
			max-width: 100%;
			padding-bottom: 6px;

			&-container-store {
				padding: 9px;
				margin-right: 3px;
			}

			&-store {
				max-width: 30px;
				border-radius: 2px;
				border: 1px solid $color-border-grey;
			}
		}

		&__text {
			height: 42px;
			overflow: hidden;
			
			& label {
				position: relative;
				bottom: 2px;
			}
		}

		&__link-more {
			height: 45px;
			line-height: 45px;
			text-align: center;
		}
	}
}

@media (max-width: 1199px) {
	.feed-official-store-product__text {
		padding-left: 10px;
	}
}