.feed-topads-shop {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 10px; }
  .feed-topads-shop__text-promoted {
    color: rgba(0, 0, 0, 0.38); }
  .feed-topads-shop__header {
    font-size: 12px; }
  .feed-topads-shop__text-promoted .feed-topads-shop__image-promoted {
    height: 13px;
    position: relative;
    bottom: 2px;
    left: 5px; }
  .feed-topads-shop__seller-photo img {
    width: 52px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .feed-topads-shop__seller-activity {
    display: inline-block;
    padding-left: 10px;
    font-size: 14px; }
    .feed-topads-shop__seller-activity--time {
      line-height: 1rem;
      color: rgba(0, 0, 0, 0.38); }
  .feed-topads-shop__seller-favorite {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 6px; }
    .feed-topads-shop__seller-favorite img {
      width: 10px;
      position: relative;
      bottom: 1px;
      margin-right: 8px; }
    .feed-topads-shop__seller-favorite button.btn {
      padding: 9px 0;
      font-size: 12px;
      color: #FFF;
      background-color: #42B549;
      border: 1px solid #42B549;
      width: 100px;
      font-weight: 600;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .feed-topads-shop__image {
    border-radius: 2px; }
    .feed-topads-shop__image--big {
      width: 264px; }
  .feed-topads-shop__popover {
    position: absolute;
    z-index: 10;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    width: 340px;
    height: 94px;
    margin-left: 90px;
    margin-top: -74px; }
  .feed-topads-shop__popover-text {
    line-height: 22px;
    color: rgba(0, 0, 0, 0.54);
    width: 214px;
    height: 44px; }
  .feed-topads-shop__popover-button {
    width: 200px;
    height: 40px; }
  .feed-topads-shop__popover-image {
    width: 102px;
    height: 66px; }
  .feed-topads-shop__popover-image-container {
    position: absolute;
    right: 20px;
    top: 35px; }
  .feed-topads-shop__popover--arrow {
    position: absolute;
    width: 15px;
    left: -13px;
    top: 37%; }

.feed-topads-shop__content div .feed-topads-shop__showcases {
  margin-left: 8px; }
