$color-green: #42B549;
$color-border-grey: #E0E0E0;

.feed-product-detail {
    background-color: #fff;
    border: 1px solid $color-border-grey;
    border-radius: 2px;
	margin-bottom: 20px;

	&__header {
		position: relative;
		padding: 10px;
		border-bottom: 1px solid $color-border-grey;
	}

    &__header-information {
        margin-bottom: 6px;
    }

	&__seller-photo {
		display: inline-block;
		vertical-align: middle;

		& img {
			width: 52px;
			border: 1px solid $color-border-grey;
			border-radius: 3px;
			box-sizing: border-box;
		}
	}

	&__seller-activity {
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
		font-size: 14px;

		&--time {
			font-size: 11px;
			line-height: 1rem;
			color: rgba(0, 0, 0, 0.38);
		}
	}

	&__seller-share {
		display: inline-block;
		vertical-align: middle;
		float: right;
		margin-top: 6px;
	}

    &__content {
        border-bottom: 1px solid $color-border-grey;
    }


    &__button-container {
        
        .button-share {
            width: 230px;
            float: right;
        }
    }

    &__btn-open-store {
        width: 230px;
        margin-left: 12px;
        margin-bottom: 6px;
		float: right;
    }
}