.feed-product-detail {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  margin-bottom: 20px; }
  .feed-product-detail__header {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0; }
  .feed-product-detail__header-information {
    margin-bottom: 6px; }
  .feed-product-detail__seller-photo {
    display: inline-block;
    vertical-align: middle; }
    .feed-product-detail__seller-photo img {
      width: 52px;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .feed-product-detail__seller-activity {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 14px; }
    .feed-product-detail__seller-activity--time {
      font-size: 11px;
      line-height: 1rem;
      color: rgba(0, 0, 0, 0.38); }
  .feed-product-detail__seller-share {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 6px; }
  .feed-product-detail__content {
    border-bottom: 1px solid #E0E0E0; }
  .feed-product-detail__button-container .button-share {
    width: 230px;
    float: right; }
  .feed-product-detail__btn-open-store {
    width: 230px;
    margin-left: 12px;
    margin-bottom: 6px;
    float: right; }
