.feed-official-store-empty {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 16px 10px; }
  .feed-official-store-empty__left {
    display: inline-block; }
    .feed-official-store-empty__left img {
      width: 41px;
      margin-right: 10px; }
  .feed-official-store-empty__right {
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54); }
    .feed-official-store-empty__right a {
      font-weight: 600; }

@media (min-width: 1200px) {
  .feed-official-store-empty {
    padding: 16px 20px; }
    .feed-official-store-empty__left img {
      margin-right: 16px; } }
