.feed-official-store {
  border: 1px solid #E0E0E0;
  border-radius: 3px; }
  .feed-official-store__title {
    padding: 16px 10px;
    border-bottom: 1px solid #E0E0E0; }
  .feed-official-store__items-image {
    padding: 8px;
    max-width: 169px; }
  .feed-official-store__link-more {
    height: 45px;
    line-height: 45px; }

.feed-official-store__showcase {
  border-bottom: 1px solid #E0E0E0; }
  .feed-official-store__showcase .feed-official-store__items {
    margin: 0;
    width: 33.3%;
    border-right: 1px solid #E0E0E0; }
    .feed-official-store__showcase .feed-official-store__items:last-child {
      border-right: none; }
